{% extends 'base.html' %}

{% block content %}
<h1>bears n bears </h1>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <div class="card custom-bg1 text-bg-info mb-3" style="width: 20rem;">
                <img src="../static/images/polar_bear.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Polar Bear</h5>
                    <p class="card-text">This beautiful bear welcomes you to my website.</p>
                    <a href="https://www.istockphoto.com/photos/polar-bear" class="btn btn-primary">More Polar Bear pictures</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card custom-bg2 text-bg-info mb-3" style="max-width: 20rem;">
                <img src="../static/images/brown_bear.jpg" class="card-img-top" alt="...">
                <div class="card-header">Brown Bears</div>
                <div class="card-body">
                    <h5 class="card-title">More bears!</h5>
                    <a href="https://unsplash.com/s/photos/brown-bear" class="btn btn-primary">More Brown Bear pictures</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card custom-bg3 text-bg-info mb-3" style="max-width: 20rem;">
                <img src="../static/images/black_bear.jpg" class="card-img-top" alt="...">
                <div class="card-header">Black Bears</div>
                <div class="card-body">
                    <h5 class="card-title">More bears!</h5>
                    <a href="https://unsplash.com/s/photos/black-bear" class="btn btn-primary">More Black Bear pictures</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card custom-bg3 text-bg-info mb-3" style="max-width: 20rem;">
                <img src="../static/images/fu_bao.jpeg" class="card-img-top" alt="...">
                <div class="card-header">Pandas</div>
                <div class="card-body">
                    <h5 class="card-title">More bears!</h5>
                    <a href="https://unsplash.com/s/photos/panda" class="btn btn-primary">More Pandas pictures</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card custom-bg3 text-bg-info mb-3" style="max-width: 20rem;">
                <img src="../static/images/sloth_bear.jpeg" class="card-img-top" alt="...">
                <div class="card-header">Sloth Bears</div>
                <div class="card-body">
                    <h5 class="card-title">More bears!</h5>
                    <a href="https://unsplash.com/s/photos/sloth-bear" class="btn btn-primary">More Sloth Bear pictures</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card custom-bg3 text-bg-info mb-3" style="max-width: 20rem;">
                <img src="../static/images/teddy_bear.jpg" class="card-img-top" alt="...">
                <div class="card-header">Teddy Bears</div>
                <div class="card-body">
                    <h5 class="card-title">More bears!</h5>
                    <a href="https://unsplash.com/s/photos/teddy-bear" class="btn btn-primary">More Teddy Bear pictures</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
